.FindedFilmsAndSerials {
  width: 100%;
  position: absolute;
  bottom: 4;
  background-color: #282841;
  max-height: 500px;
  z-index: 2;
  left: 0;
}
.MoviesBox {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
