.FindedFilmsAndSerials {
  width: 100%;
  position: absolute;
  bottom: 4;
  background-color: #282841;
  max-height: 500px;
  z-index: 2;
  left: 0;
}
.MoviesBox {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.SearchedItemTitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: white;
}
.MoviesBoxItem {
  display: flex;
  column-gap: 10px;
  align-items: start;
  cursor: pointer;
  justify-content: start;
  padding: 15px;
}
.FindedMovieImg {
  height: 100px;
  max-width: 66px;
}
.SearchedItemOverview {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: white;
}
.SearcheItemTitleAndOverviewBox {
  white-space: wrap;
}
