.ImageAndOverview {
  display: flex;
  column-gap: 20px;
}
.Ganre {
  background: #433f73;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding: 10px;
  font-size: 17px;
  border-radius: 20px;
  color: white;
}
.TitleAndOverview {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  row-gap: 15px;
  padding-top: 9%;
}
.ImageAndOverview_Image {
  width: 30%;
  height: 400px;
}
.OverviewOfTheMovie {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  width: 90%;
  color: white;
}
.NameOfTheMovie {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: white;
}
