.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  border: 1px solid white;
  --swiper-navigation-size: 20px;
  --swiper-navigation-top-offset: 50%;
  border-radius: 50%;
  padding: 11px;
  --swiper-navigation-sides-offset: 70px;
  --swiper-navigation-color: black;
}
.swiper-button-prev {
  --swiper-navigation-sides-offset: 20px;
}
.swiper-button-next::after {
  margin-left: 2px;
}
.Slider {
  position: relative;
}

.ImgForMovList {
  height: 300px;
}
.ImgForMovList:hover {
  filter: brightness(60%);
}
